<h1>Aye, Look Who It Is, Returning After All This Time</h1>

<form class="user-form" action="/sessions" method="POST">
  <label for="email"> WHAT, be yerr email???</label>
  <input type="text" name="email">
  <label for="password"> WHAT, be yarr password?</label>
  <input type="password" name="password">
  <input type="submit" value="Ayyem Ready!">
</form>
<p><%= @error %></p>