<h2>Ahoy There</h2>
<p>Welcome to BoatVote, where we vote on boats that are boats and look at boats that aren't boats or are maybe boats.<br><br> Confused??? Well then, sign up for the crew and get voting!!!!</p>

<a href="boats/1">Let's Vote On Some Boats!!!!!</a>