<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <% if logged_in? %>
      <p>AHOY <%= current_user.username %>!!</p>
      <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input id="logout-button" type="submit" value="lubber-out">
      </form>
    <% else %>
      <p><a href="sessions/new">Login</a> | <a href="/boatwatchers/new">Enlist In The Crew</a></p>
    <% end %>
  </header>
  <%= yield %>
  <footer>
    <p><a href='/'>Bring me home</a></p>
  </footer>
</body>
</html>
