<h1> YARRR!!! DIS BE A BOAT????</h1>
<img src=<%=@img_url%> >

<form action="/boats" method="POST">
<input type="hidden" name="url" value="<%=@img_url%>">
<input type="submit" value="I Found A Boat!!!!">
</form>