<h1> YARRR!!! DIS BE A BOAT????</h1>

<div class="boat-display">
  <p id="boat-view"><img src=<%="#{@boat.url}"%> ></p>
  <a id="boat-link" href=<%="/boats/#{@boat.id + 1}"%> >Show Me The Next One!!!</a>

<br><br>

<div class="vote">
  <a class="vote-link" href="/"><button>That's a boat!!!</button></a>
  <a class="vote-link" href="/"><button>I'm not sure if this is a boat</button></a>
  <a class="vote-link" href="/"><button>I don't think that's a boat</button></a>

</div>

</div>