<h1> YARRR!!! DIS BE A BOAT????</h1>

<div class="boat-display">
  <p id="boat-view"><img src=<%="#{@boat.url}"%> ></p>
  <a id="boat-link" href=<%="/boats/#{@boat.id + 1}"%> >Show Me The Next One!!!</a>
</div>